:root {
  --main-text-color: #fdfdfd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 250;
}

/* Universal styling */
/* Background styling */
#background-image-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
}

#background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Location entry styling */
#location-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#location-input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--main-text-color);
  font-size: 1.5em;
}

#location-input-box input {
  background-color: rgba(20, 20, 20, 0.5);
  width: 80%;
  font-size: 0.8em;
  border-radius: 5px;
  border: 0.5px solid var(--main-text-color);
  color: var(--main-text-color);
  margin-top: 15px;
}

#location-input-box button {
  margin-top: 20px;
  width: 75px;
  height: 40px;
  font-size: 0.9em;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  border-radius: 7px;
}

#location-input-box button:hover {
  background-color: black;
}

/* Main page styling for all screen sizes */

#weather-header {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 400;
  text-shadow: 2px 2px 5px rgb(180, 180, 180);
}

#weather-header #city {
  font-size: 1.6em;
}

#current-temperature {
  font-size: 3em;
  font-weight: 250;
  position: relative;
  left: 5px;
}

#current-conditions {
  font-weight: 350;
}

.weather-details-box {
  background-color: rgba(90, 90, 90, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 15px;
  color: var(--main-text-color);
  font-size: 0.85em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}

.weather-details-box h1 {
  color: rgba(200, 200, 200, 0.8);
  font-size: 0.8em;
  margin-top: 10px;
  margin-left: 10px;
}

.divider {
  width: calc(100% - 20px);
  height: 0.5px;
  background-color: var(--main-text-color);
  margin-left: 10px;
}

.hourly-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 95px;
  padding: 5px;
  border-radius: 5px;
}

#hourly-forecast-container::-webkit-scrollbar { 
  display: none;
}

#forecast-description p {
  padding-left: 10px;
}

#hourly-forecast-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  scrollbar-width: none;
}

#air-quality-index {
  font-size: 1.5em;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 5px;
}

#air-quality-rating {
  margin-top: 5px;
  margin-left: 10px;
}

#air-quality-scale {
  width: 300px;
  height: 4px;
  border-radius: 2px;
  background-image: linear-gradient(to right, rgb(10, 200, 10), rgb(255, 45, 45), rgb(215, 21, 179), rgb(150, 21, 21));
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#air-quality-marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main-text-color);
  position: relative;
}

/*Mobile styling */
@media screen and (max-width: 991px) {
  #locations-list {
    display: none;
  }

  #current-location-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    position: relative;
    left: 0;
    margin-bottom: 50px;
  }

  #weather-details-container {
    width: 320px;
    display: grid;
    gap: 20px 20px;
  }

  #forecast-description {
    display: none;
  }

  #hourly-forecast {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 150px;
  }

  #seven-day-forecast {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 490px;
  }

  #air-quality {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 150px;
  }

  #small-radar-viewer {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 320px;
  }

  #sunrise-sunset {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    height: 150px;
  }

  #wind {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 150px;
    height: 150px;
  }

  #precipitation {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    height: 150px;
  }

  #apparent-temperature {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 150px;
    height: 150px;
  }

  #humidity {
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    height: 150px;
  }

  #pressure {
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 150px;
    height: 150px;
  }

  #severe-weather {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    height: 150px;
  }

  #visibility {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 150px;
    height: 150px;
  }

  #forecast-discussion {
    grid-row-start: 13;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 150px;
  }
}

/* Tablet Styling */
@media screen and (min-width: 992px) and  (max-width: 1299px) {
  #locations-list {
    width: 18vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.5);
    border-right: 0.5px solid rgb(120, 120, 120);
    position: fixed;
    left: 0;
    top: 0;
  }

  #current-location-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 82vw;
    position: relative;
    left: 18vw;
  }

  #weather-details-container {
    width: 660px;
    display: grid;
    gap: 20px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #forecast-description {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 660px;
    height: 150px;
  }

  #hourly-forecast {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 660px;
    height: 150px;
  }

  #seven-day-forecast {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 490px;
  }

  #small-radar-viewer {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 320px;
    height: 320px;
  }

  #wind {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 320px;
    height: 150px;
  }

  #severe-weather {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 150px;
  }

  #air-quality {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 320px;
    height: 150px;
  }

  #apparent-temperature {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    height: 150px;
  }

  #precipitation {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 150px;
    height: 150px;
  }

  #visibility {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 150px;
    height: 150px;
  }

  #sunrise-sunset {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 150px;
    height: 150px;
  }

  #humidity {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 150px;
    height: 150px
  }

  #pressure {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 150px;
    height: 150px
  }

  #forecast-discussion {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 320px;
    height: 150px
  }
}

/* Desktop Styling */
@media screen and (min-width: 1300px) {
  #locations-list {
    width: 18vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.5);
    border-right: 0.5px solid rgb(120, 120, 120);
    position: fixed;
    left: 0;
    top: 0;
  }

  #current-location-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 82vw;
    position: relative;
    left: 18vw;
  }

  #weather-details-container {
    width: 1000px;
    display: grid;
    gap: 20px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #forecast-description {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 490px;
    height: 150px;
  }
  
  #hourly-forecast {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 7;
    width: 490px;
    height: 150px;
  }
  
  #seven-day-forecast {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 490px;
  }
  
  #air-quality {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 320px;
    height: 150px;
  }
  
  #wind {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 320px;
    height: 150px;
  }
  
  #small-radar-viewer {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
    width: 320px;
    height: 320px;
  }
  
  #sunrise-sunset {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 150px;
    height: 150px;
  }
  
  #precipitation {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 150px;
    height: 150px;
  }
  
  #apparent-temperature {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 150px;
    height: 150px;
  }
  
  #humidity {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 7;
    width: 150px;
    height: 150px;
  }
  
  #severe-weather {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 320px;
    height: 150px;
  }
  
  #forecast-discussion {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 320px;
    height: 150px;
  }
  
  #visibility {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 150px;
    height: 150px;
  }
  
  #pressure {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 7;
    width: 150px;
    height: 150px;
  }
}