:root {
  --main-text-color: #fdfdfd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 250;
}

/* Background styling */
#background-image-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
}

#background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Location entry styling */
#location-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#location-input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--main-text-color);
  font-size: 1.5em;
}

#location-input-box input {
  background-color: rgba(20, 20, 20, 0.5);
  width: 80%;
  font-size: 0.8em;
  border-radius: 5px;
  border: 0.5px solid var(--main-text-color);
  color: var(--main-text-color);
  margin-top: 15px;
}

#location-input-box button {
  margin-top: 20px;
  width: 75px;
  height: 40px;
  font-size: 0.9em;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  border-radius: 7px;
}

#location-input-box button:hover {
  background-color: black;
}

/* Main Page Styling */
#locations-list {
  width: 18vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.5);
  border-right: 0.5px solid rgb(120, 120, 120);
  position: fixed;
  left: 0;
  top: 0;
}

#current-location-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 82vw;
  position: relative;
  left: 18vw;
}

#weather-header {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 400;
  text-shadow: 2px 2px 5px rgb(180, 180, 180);
}

#weather-header #city {
  font-size: 1.6em;
}

#current-temperature {
  font-size: 3em;
  font-weight: 250;
  position: relative;
  left: 5px;
}

#current-conditions {
  font-weight: 350;
}

#weather-details-container {
  width: 80%;
  display: grid;
  gap: 20px 20px;
  margin-top: 50px;
  height: 700px;
}

.weather-details-box {
  background-color: rgba(120, 120, 120, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 15px;
}

#hourly-forecast {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 7;
}

#seven-day-forecast {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

#air-quality {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

#wind {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}

#small-radar-viewer {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 7;
}